@()<!DOCTYPE html>

@minified=@{if(play.Play.isProd()) ".min" else ""}

<html ng-app="project">

    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">            
        
        <title>Play Skeleton App</title>
        
        <!-- Style -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap"+ minified + ".css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main"+ minified + ".css")">

    </head>
  
    <body>
        
        <!-- The wrap  + container + footer divs help implement the fixed navbar + sticky footer layout -->
        <!-- Checkout assets.stylesheets.layout.less for more details on what is going on here -->
        
        <div id="wrap">    
            @navbar()      
            <div class="container">            
                <!-- AngularJS Templates get inserted here -->
                <div ng-view></div>              
            </div>
        </div>
    
        <div id="footer">        
            @footer()            
        </div>
 

        <!-- 3rd Party Scripts -->    
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-1.2.6/angular"+ minified + ".js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-1.2.6/angular-resource"+ minified + ".js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-1.2.6/angular-route"+ minified + ".js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
                        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        
        <!-- Application Scripts --> 
        <script src="@routes.Assets.at("javascripts/project"+ minified + ".js")"></script>
        
    </body>
    
</html>
